body {
  background-color: lightgray;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 20x;
}

table {
  border: medium solid blue;
  border-spacing: 5px;
  margin: 25px auto;
  border-collapse: separate;
}

th, td {
  padding: 10px;
  border: 1px red;
  text-align: right;
  background-color: greenyellow;
}

th {
  font-weight: bolder;
}
