* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', serif, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  background: #1FA2FF;
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
}

header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
  grid-area: header;
}

.main-container {
  /* border: 3px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 1.5fr 0.4fr;
  grid-template-areas: 
  "header header header header" 
  "main main main sidebar" 
  "box-1 box-2 box-3 sidebar" 
  "footer footer footer footer";
  height: 100vh;
  padding: 20px;
}

/* Navigation */

.home-header-box {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid white; */
  border-radius: 20px;
  width: 100%;
  grid-area: header;
}

.home-header-box img {
  width: 20%;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  /* grid-area: nav; */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 0px 20px;
}

nav ul li {
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  padding: 1px;
  margin: 10px;
  border-radius: 10px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}

/* Home ///////////////////////////////////////////////////////////////////*/

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  grid-area: main;
}

.sidebar {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  grid-area: sidebar;
  overflow: hidden;
}

.sidebar-box {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  /* width: 100%; */
  grid-area: box-1;
}

.magazine-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: space-around;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  background-color: brown;
}

.magazine-box h1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  border: 1px solid black;
  letter-spacing: .1rem;
}

.magazine-box h2 {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid black;
  text-shadow: black 1px 1px;
  padding: 20px;
}

.magazine-box p {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  border: 1px solid black;
  margin: 3px;
  color: salmon;
}

.magazine-box img {
  border: 1px solid black;
  width: 100%;
  margin: 1px;
  padding: 10px;
}

.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  grid-area: box-2;
}

.b2 {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.b2 h2 {
  border: 1xp solid black;
}

.b2 img {
  /* border: 3px solid green; */
  border-radius: 20px;
  padding: 10px;
  width: 70%;
}

.box-3 {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  grid-area: box-3;
  width: 100%;
  /* border: 3px solid black; */
}

.b3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  /* border: 3px solid green; */
}

.b3 img {
  width: 75%;
  border-radius: 20px;
  margin-top: 20px;
}

/* Footer  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  grid-area: footer;
  margin: 5px;
}

.footer-logos ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-content: space-between;
  width: 100%;
  padding: 20px;
}

.footer-logos a {
  color: white;
  font-size: 50px;
  padding: 20px;
  margin: 0px 30px;
  width: 100%;
  border-radius: 20px;
}

/* Sales Page //////////////////////////////////////////////////////////////// */

.main-sales-container {
  /* border: 3px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 1.5fr 0.4fr;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer";
  height: 100vh;
  padding: 20px;
}

.sales-header-box {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  grid-area: header;
}

.sales-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  /* border: 1px solid black; */
}

.sales-logo img {
  width: 20%;
  padding: 20px;
}

.main-sales {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.cookie-table-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
}

#cookie-table {
  /* flex-grow: inherit; */
  width: 80%;
  height: 100%;
  border: 5px solid salmon;
  border-radius: 40px;
  border-spacing: 15px;
  border-collapse: separate;
  padding: 40px;
  text-align: right;
}

td, th {
  background-color: salmon;
  border-radius: 10px;
  padding: 10px;
}



/* shop ///////////////////////////////////////////////////////////////*/

.main-shop-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 1.5fr 0.4fr;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer";
  height: 100vh;
  margin: 20px;
  width: 100%;
  /* border: 3px solid greenyellow; */
}

.shop-header-box {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid white; */
  border-radius: 20px;
  width: 100%;
  grid-area: header;
}

.shop-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* border: 3px solid red; */
}

.shop-logo img {
  width: 20%;
}

.main-shop {
  display: flex;
  /* border: 3px solid black; */
  width: 100%;
}

.main-shop-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 33%;
  margin: 10px;
}

.main-shop-box-2 {
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  width: 33%;
  margin: 10px;
}

.main-shop-box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 33%;
  margin: 10px;
}

.swag-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid green; */
  width: 100%;
}

.swag-item-1 img {
  width: 75%;
  border-radius: 20px;
}

.swag-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid green; */
  width: 100%;
}

.swag-item-2 img {
  width: 75%;
  border-radius: 20px;
}


.swag-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid green; */
  width: 100%;
}

.swag-item-3 img {
  width: 75%;
  border-radius: 20px;
}

/* Location ////////////////////////////////////////////////////////////*/

.main-location-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 1.5fr 0.4fr;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer";
  height: 100vh;
  margin: 20px;
}

.main-location {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.location-header-box {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  grid-area: header;
}

.seattle {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  grid-row: 1/6;
  grid-column: 1/2;
  /* background-image: url(/img/seattle.jpg); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

.seattle-img {
  width: 100%;
  height: 400px;
  background-image: url(/img/seattle.jpg);
}

.tokyo {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  grid-row: 1/6;
  grid-column: 2/3;
}

.tokyo-img {
  border: 1px solid black;
  width: 100%;
  height: 400px;
  background-image: url(/img/tokyo.jpg);
  background-size: cover;
}

.dubai {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  grid-row: 1/6;
  grid-column: 3/4;
}

.dubai-img {
  border: 1px solid black;
  width: 100%;
  height: 400px;
  background-image: url(/img/dubai.jpg);
  background-size: cover;
}

.paris {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  grid-row: 1/6;
  grid-column: 4/5;
  /* background-image: url(/img/paris.jpg); */

}

.paris-img {
  border: 1px solid black;
  width: 100%;
  height: 400px;
  background-image: url(/img/paris.jpg);
  background-size: cover;
}

.lima {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  grid-row: 1/6;
  grid-column: 5/6;
  
}

.lima-img {
  border: 1px solid black;
  width: 100%;
  height: 400px;
  margin: 20px;
  background-image: url(/img/lima.jpg);
  background-size: cover;
}

i:hover {
  background-color: rgba (250, 126, 112, .3);
  transition: .7s ease;
}

a:hover {
  background: rgba(250, 126, 112, .8);
  transition: .5s;
}

p {
  color: rgba(0, 0, 0, 0.479);
  font-size: large;
  margin: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* border: 3px solid greenyellow; */
  /* margin: 20px; */
  padding: 20px;
}